{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docs</title>
    <link rel="stylesheet" href="{% static 'places/cascading/style.css' %}">
</head>
<body>
    <div class="cards">
        {% for place in object_list %}
            <div class="card" id="card_{{place.id}}">    
                <img src="{{place.main_image.url}}" alt="">
                <div class="container">
                    <h4>{{place.title}}</h4>
                    <a href="{% url 'places:tour' pk=place.id %}">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>